 /* #box{
height: 200px;
width: 150px;
background-color: #45ef07;
color: aqua;
border: 2px solid black; */

*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:greenyellow;

}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    
}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.choice:hover{
    opacity: 0.5;
    background-color: red;
    cursor: pointer;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50px;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 10px;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}

#user-score,
#comp-score{
   font-size: 4rem;
   

}

.msg-container{
    margin-top: 5rem;
}

#msg {
  
    background-color: black;
    color: white;
    font-size: 4rem;
    display: inline;
    border-radius: 2px;
    padding: 1rem;
    border-radius: 1rem;
}
